:root {
    --bg-color: #222138;
    --img-bg: #e0def4;
    --text-color: #fff;
    --snow-color: #D7FFFF;
}

#bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/public/Assets/Images/bg.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: relative;
    display: block;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 8vh;
}

h3 {
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: var(--text-color);
}

#container {
    position: relative;
    display: block;
    text-align: center;
    top: 5em;
}

img.emoji {
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}


::-moz-selection {
    color: var(--bg-color);
    background: var(--text-color);
}

::selection {
    color: var(--bg-color);
    background: var(--text-color);
}