@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color: #222138;
    --img-bg: #e0def4;
    --text-color: #fff;
    --snow-color: #D7FFFF;
}

* {
    text-decoration: none;
}

#bgAll {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}
 

#boxSuprema {
    position: absolute;
    display: block;
    top: 10%;
    left: calc(50% - 40%);
    width: 80%;
    height: 60%;
}

#containerAvatar {
    position: absolute;
    display: block;
    top: 0;
    left: calc(50% - 12.5vh);
    width: 25vh;
    height: auto;
    margin-bottom: 0;
}

#avatar {
    position: relative;
    display: block;
    width: 100%;
    border: solid 0.5px var(--img-bg);
    border-radius: 100%;
}

#boxText {
    position: fixed;
    display: block;
    left: calc(50% - 30%);
    top: calc(50% - 10%);
    width: 60%;
    height: 20%;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    text-align: center;
}

.btn {
    position: relative;
    display: inline-flex;
    width: 15vh;
    height: 25%;
    margin-top: 5%;
    color: var(--text-color);
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    border: solid 1px var(--img-bg);
    margin-right: 1vh;
    background: linear-gradient(to right, var(--text-color) 50%, var(--bg-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.btn i {
    margin-right: 1vh;
}

.btn:hover {
    background-position: left bottom;
    color: var(--bg-color);
}

a {
    text-decoration: none;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

#comma {
    cursor: pointer;
}

.fallingSnow {
    height: var(--w);
    width: var(--w);
    background-color: var(--snow-color);
    border-radius: 100%;
    opacity: var(--o);
}

#snowflakes {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    pointer-events:none;
}

.snowflake {
    font-size: 1em;
    flex: 1;
    position: relative;
    top: -10%;
    animation: snowflakes-fall 10s linear, snowflakes-shake 3s ease-in-out;
    animation-delay: var(--d);
    animation-iteration-count: infinite;
}

#linearColor {
    position: fixed;
    display: block;
    background-color: var(--img-bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5vh;
}

@keyframes snowflakes-fall {
    100% {
        top: 100%;
    }
}

@keyframes snowflakes-shake {
    50% {
        transform: translateX(80px);
    }
}

::-moz-selection {
    color: var(--bg-color);
    background: var(--text-color);
}
  
::selection {
    color: var(--bg-color);
    background: var(--text-color);
}