@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: 5px;
        background-color: theme('colors.white');
    }

    ::-webkit-scrollbar-thumb {
        background-color: theme('colors.black');
    }

    ::-moz-selection {
        background-color: theme('colors.white');
    }

    ::selection {
        background-color: theme('colors.white');
    }
}
