@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #584966;
    border-radius: 5px;
}

::-moz-selection {
    color: #584966;
    background: #fdebf3;
}

::selection {
    color: #584966;
    background: #fdebf3;
}
