@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: theme('colors.p.secondary');
        border-radius: 5px;
    }
    
    ::-moz-selection {
        background-color: theme('colors.p.selection');
    }
    
    ::selection {
        background-color: theme('colors.p.selection');
    }
}