---
import Layout from '@layouts/Layout.astro'
import GenerateDynDate from '@modules/GenerateDynDate'

const age = GenerateDynDate(new Date(2007, 9, 12))
---

<Layout title="notgabry">
    <main class="max-w-4xl mx-auto px-4 mt-44">
        <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-white font-medium text-center leading-relaxed">
            Hi I'm Gabry — a random {age}-year-old
            <span class="border-b-4 border-purple-600 bg-purple-600 bg-opacity-45">with a passion</span> for
            <span class="border-b-4 border-pink-600 bg-pink-600 bg-opacity-45">aviation</span> &
            <span class="border-b-4 border-blue-600 bg-blue-600 bg-opacity-45">tech</span>
        </h1>
    </main>
</Layout>
