---
import Layout from '@layouts/Layout.astro'
import Head from '@components/Head.astro'
import Presence from '@components/Presence.svelte'
import GenerateDynDate from '@modules/GenerateDynDate'

const age = GenerateDynDate(new Date(2007, 9, 12))
---

<Layout title="notgabry">
    <main class="mt-10 max-w-2xl mx-auto space-y-6 px-4">
        <header class="mb-9 text-center">
            <Head description="Hello, world!" links />
        </header>

        <section class="py-4">
            <h3 class="text-3xl font-bold">About Me</h3>
            <p class="text-p-secondary">
                I'm a {age}-year-old developer from Italy. Ever since I was little I've always been passionate about computers and how they operate,
                now I'm learning new technologies or programming languages, like <strong>Go</strong> and <strong>Rust</strong> the two programmming languages
                I love the most.
            </p>
        </section>

        <section class="py-4">
            <h3 class="text-3xl font-bold">Interests</h3>
            <p class="text-p-secondary">
                I've half a decade of experience with linux, I've tried different linux distros like <strong>Ubuntu 20</strong>, <strong
                    >Manjaro</strong
                >, <strong>Arch</strong>, <strong>Kali</strong> and <strong>Linux Mint</strong> the one I'm using right now.
                <br />
                In my spare time when I want to relax I play videogames like <strong>Valorant</strong>
                <br />
                I can't play without music, feel free to check out one of my most recent played songs...
            </p>
            <Presence client:load />
        </section>

        <section class="py-4">
            <h3 class="text-3xl font-bold">Skills</h3>
            <p class="text-p-secondary">
                I've lots of experience with <strong>JavaScript</strong> and <strong>TypeScript</strong> also I practiced <strong>Python</strong> for over
                a year, I'm recently moving my focus to <strong>Go</strong> and
                <strong>Rust</strong>. <br />
            </p>
        </section>
    </main>
</Layout>
