---
import Layout from '@layouts/Layout.astro'
import Box from '@components/Box.astro'
import Head from '@components/Head.astro'

const page = [
    {
        name: 'Tools',
        boxes: [
            {
                name: 'VS Code',
                icon: 'devicon:vscode',
                url: 'https://code.visualstudio.com/'
            },
            {
                name: 'IntelliJ IDEA',
                icon: 'devicon:intellij',
                url: 'https://www.jetbrains.com/idea/'
            },
            {
                name: 'Filezilla',
                icon: 'devicon:filezilla',
                url: 'https://filezilla-project.org/'
            }
        ]
    },
    {
        name: 'Development',
        boxes: [
            {
                name: 'HTML',
                icon: 'devicon:html5',
                url: 'https://it.wikipedia.org/wiki/HTML'
            },
            {
                name: 'CSS',
                icon: 'devicon:css3',
                url: 'https://it.wikipedia.org/wiki/CSS'
            },
            {
                name: 'TypeScript',
                icon: 'devicon:typescript',
                url: 'https://www.typescriptlang.org/'
            },
            {
                name: 'JavaScript',
                icon: 'devicon:javascript',
                url: 'https://it.wikipedia.org/wiki/JavaScript'
            },
            {
                name: 'GoLang',
                icon: 'devicon:go',
                url: 'https://go.dev/'
            },
            {
                name: 'Rust',
                icon: 'devicon:rust',
                url: 'https://www.rust-lang.org/tools/install'
            },
            {
                name: 'C++',
                icon: 'vscode-icons:file-type-cpp3',
                url: 'https://cplusplus.com/'
            },
            {
                name: 'Python',
                icon: 'devicon:python',
                url: 'https://www.python.org/downloads/'
            },
            {
                name: 'SvelteKit',
                icon: 'devicon:svelte',
                url: 'https://svelte.dev/'
            },
            {
                name: 'Astro',
                icon: 'devicon:astro',
                url: 'https://astro.build/'
            },
            {
                name: 'Tailwind',
                icon: 'devicon:tailwindcss',
                url: 'https://tailwindcss.com/'
            },
            {
                name: 'NodeJS',
                icon: 'devicon:nodejs',
                url: 'https://nodejs.org/en'
            },
            {
                name: 'Electron',
                icon: 'devicon:electron',
                url: 'https://www.electronjs.org/'
            }
        ]
    },
    {
        name: 'Services',
        boxes: [
            {
                name: 'Workers',
                icon: 'devicon:cloudflareworkers',
                url: 'https://workers.cloudflare.com/'
            },
            {
                name: 'GitHub',
                icon: 'mdi:github',
                url: 'https://github.com'
            },
            {
                name: 'GitLab',
                icon: 'devicon:gitlab',
                url: 'https://gitlab.com'
            },
            {
                name: 'Vercel',
                icon: 'vscode-icons:file-type-vercel',
                url: 'https://vercel.com/'
            },
            {
                name: 'Netlify',
                icon: 'cib:netlify',
                url: 'https://www.netlify.com/'
            },
            {
                name: 'Supabase',
                icon: 'devicon:supabase',
                url: 'https://supabase.com/'
            },
            {
                name: 'Pocketbase',
                icon: 'simple-icons:pocketbase',
                url: 'https://pocketbase.io/'
            },
            {
                name: 'Firebase',
                icon: 'devicon:firebase',
                url: 'https://firebase.google.com/'
            }
        ]
    },
    {
        name: 'OS',
        boxes: [
            {
                name: 'Ubuntu',
                icon: 'mdi:ubuntu',
                url: 'https://ubuntu.com/'
            },
            {
                name: 'Manjaro',
                icon: 'mdi:manjaro',
                url: 'https://manjaro.org/'
            },
            {
                name: 'Kali',
                icon: 'devicon:kalilinux',
                url: 'https://www.kali.org/'
            },
            {
                name: 'Arch',
                icon: 'mdi:arch',
                url: 'https://archlinux.org/'
            },
            {
                name: 'Mint',
                icon: 'mdi:linux-mint',
                url: 'https://linuxmint.com/'
            },
            {
                name: 'Windows',
                icon: 'devicon:windows11',
                url: 'https://www.microsoft.com/windows'
            }
        ]
    }
]
---

<Layout title="notgabry">
    <main class="mt-10 max-w-2xl mx-auto space-y-6 px-4">
        <Head description="As you can see I don't really have a life" />

        <div class="flex flex-col space-y-4">
            {
                page.map((e) => (
                    <section>
                        <h2 class="text-xl font-bold">{e.name}</h2>
                        <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-2">
                            {e.boxes?.map((a) => (
                                <Box name={a.name} icon={a.icon} url={a.url} />
                            ))}
                        </div>
                    </section>
                ))
            }
        </div>
    </main>
</Layout>
