@font-face {
    font-family: 'ThicccBoyLight';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/Public/Assets/Fonts/ThicccBoyLight.woff2) format('woff2');
}

@font-face {
    font-family: 'ThicccBoyRegular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/Public/Assets/Fonts/ThicccBoyRegular.woff2) format('woff2');
}

@font-face {
    font-family: 'ThicccBoyMedium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/Public/Assets/Fonts/ThicccBoyMedium.woff2) format('woff2');
}

@font-face {
    font-family: 'ThicccBoySemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/Public/Assets/Fonts/ThicccBoySemiBold.woff2) format('woff2');
}