---
import { Icon } from 'astro-icon/components'

const { icon, name, url } = Astro.props
---

<div
    class="group ring-neutral-800 bg-neutral-850 hover:bg-neutral-800 ring-1 rounded-md flex items-center space-x-2 px-4 py-2 transition-all hover:ease-in-out duration-500">
    <Icon name={icon} is:inline={true} class="text-xl" />
    <a class="text-md truncate group-hover:underline" href={url}>{name}</a>
</div>
