---
const commit: { html_url: string; sha: string } = await fetch('https://api.github.com/repos/notgabry/gabryy.me/commits/main')
    .then((a) => a.json())
    .catch(() => {})
---

<footer class="bg-black text-white p-2 py-3 w-full mt-10 font-grotesque font-light border-t-2 border-white">
    <p class="self-center">
        ⚡ Commit n.
        <a class="decoration-dashed hover:underline hover:cursor-pointer" href={commit.html_url}>{String(commit.sha || '00000').substring(0, 5)}</a>
    </p>
</footer>
