---
const { description, links } = Astro.props
---

<div class="bg-p-card-1 text-black border-2 border-black p-4 shadow-neobrutalist">
    <h1 class="text-4xl font-bold text-center">notgabry</h1>
    <p class="text-lg rounded inline-block px-2 italic">{description}</p>
    {
        links && (
            <div class="pt-2 text-center space-x-6">
                <a href="https://inertiah.uno/github" target="_blank" class="px-2 cursor-pointer inline-block my-2">
                    <i class="fa-brands fa-github" />
                </a>
                <a href="https://inertiah.uno/x" target="_blank" class="px-2 cursor-pointer inline-block my-2">
                    <i class="fa-brands fa-x-twitter" />
                </a>
                <a href="https://inertiah.uno/discord" target="_blank" class="px-2 cursor-pointer inline-block my-2">
                    <i class="fa-brands fa-discord" />
                </a>
                <a href="mailto:inbox@gabryy.me" target="_blank" class="px-2 cursor-pointer inline-block my-2">
                    <i class="fa-solid fa-envelope" />
                </a>
            </div>
        )
    }
</div>
