---
const { title } = Astro.props
import Navbar from '@components/Navbar.astro'

import '../styles/input.css'
---

<!doctype html>
<html lang="en" transition:animate="slide">
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Modern & Minimal ❤" />

        <meta property="og:title" content="notgabry" />
        <meta property="og:site_name" content="notgabry" />
        <meta property="og:description" content="Modern & Minimal ❤" />
        <meta property="theme-color" content="#A9A7F1" />

        <link rel="icon" href="/gabry-icon.png" />
        <link rel="shortcut icon" href="/gabry-icon.png" />
    </head>

    <body class="bg-p-bg mb-16 text-p-text">
        <header>
            <Navbar />
        </header>

        <slot />
    </body>
</html>
