---
const { title } = Astro.props
import Navbar from '@components/Navbar.astro'
import '../styles/input.css'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" href="/gabry-icon.png" />
        <link rel="shortcut icon" href="/gabry-icon.png" />

        <meta property="og:title" content="NotGabry" />
        <meta property="og:description" content="Neobrutalism â¤" />
        <meta property="theme-color" content="#A9A7F1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" />
    </head>

    <body class="bg-p-bg font-grotesque mb-10 text-p-text">
        <Navbar />
        <slot />
    </body>
</html>
