---
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/500.css'
import '@fontsource/poppins/700.css'
import '../styles/input.css'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{title} | notgabry</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Modern & Minimal ❤" />

        <meta property="og:title" content="notgabry" />
        <meta property="og:site_name" content="notgabry" />
        <meta property="og:description" content="Modern & Minimal ❤" />
        <meta property="theme-color" content="#A9A7F1" />

        <link rel="icon" href="/static/gabry-icon.png" />
        <link rel="shortcut icon" href="/static/gabry-icon.png" />

        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>

    <body class="mx-4">
        <slot />
    </body>
</html>
